{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <span class="mr-md-auto"> hay <b> {{counter_products}} </b> Productos</span>
     <div class="row">
      {% for product in products %}
      <div class="col-md-3">
         <div class="card products-grid">
            <a href="#" class="img-wrap">
               <img src="{{product.image.url}}" alt="">
            </a>
            <figcaption class="info-wrap">
               <a href="#" class="title-product">
                  {{product.name}}
               </a>
             <div class="price mt-1">
               ${{product.cost}}
             </div>  
            </figcaption>
         </div>
      </div>
      {% endfor%}
      
</body>
</html>